<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LongTech.Core" version="1.5.0" targetFramework="net20" />
  <package id="LongTech.Portable" version="1.5.0" targetFramework="net20" />
  <package id="LongTech.Protocol" version="1.5.0" targetFramework="net45" />
  <package id="LongTech.Protocol.BrainFuck" version="1.5.0" targetFramework="net45" />
  <package id="LongTech.UI.Controls" version="1.5.0" targetFramework="net20" />
  <package id="LongTech.UI.Forms" version="1.5.0" targetFramework="net20" />
  <package id="LongTech.UI.Theme" version="1.5.0" targetFramework="net20" />
</packages>